<div>
  <%= form_for @shop, remote: true do |form| %>
    <%= form.label :merchant_token %>
    <%= form.text_field :merchant_token %>
    <br />
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
    <br />
    <%= form.submit %>
  <% end %>
</div>
